table {
    width: 100%;
}

mat-card {
    padding: 20px;
}

mat-icon {
    margin: 0 !important;
}
  
td, th {
    width: 25%;
}

.list-container {
    padding: 10px;
}

.button-icon {
    text-align: center;
}
  