mat-card {
  padding: 20px;
}

mat-icon {
  margin: 0 !important;
}

.list-container {
  padding: 10px;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-icon {
  justify-content: center;
}

.not-found-image {
  height: 68px !important;
}
