<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Poke App</span>
  <span class="spacer"></span>
</mat-toolbar>
<mat-sidenav-container autosize>
  <mat-sidenav #sidenav mode="side" opened="true">
    <mat-list>
      <mat-list-item><a href="/home">Home</a></mat-list-item>
      <mat-list-item><a href="/home">Locations</a></mat-list-item>
      <mat-list-item><a href="/home">Pokedex</a></mat-list-item>
      <mat-list-item><a href="/home">About</a></mat-list-item>
    </mat-list>
  </mat-sidenav>

  <div>
    <app-home></app-home>
  </div>

</mat-sidenav-container>