mat-card-title {
    margin-left: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
}

mat-chip-avatar {
    margin-bottom: 6px;
}

.habitat-card {
    margin: 20px;
}

.example-box.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-chip .cdk-drop-list-dragging {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.title {
    margin-left: 22px;
    margin-top: 22px;
    margin-right: 22px;
}

.not-found {
    margin-left: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
}