mat-card {
    padding: 15px;
    margin: 15px;
}

mat-expansion-panel {
    margin-top: 15px;
}

mat-card-content {
    margin-top: 10px;
}

mat-panel-description {
    margin-top: 20px;
    margin-bottom: 20px;
}