.list-container {
  padding: 20px;
}

mat-expansion-panel {
  margin: 20px;
}

.button-icon {
  text-align: center;
}

.mat-column-actions,
.mat-column-name,
.mat-column-id {
  text-align: center !important;
}

table {
  margin-top: 20px;
}

mat-icon {
  margin: 0 !important;
}
