<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Poke App</span>
    <span class="spacer"></span>
</mat-toolbar>
<mat-sidenav-container id="container" fullscreen>
    <mat-sidenav #drawer mode="side" opened>
        <mat-list>
            <mat-list-item>
                <mat-icon class="list-icon" matListItemIcon>home</mat-icon>
                <div class="list-title" matListItem><a routerLink="/management" routerLinkActive="active-page"
                        ariaCurrentWhenActive="page">Home</a>
                </div>
            </mat-list-item>
            <mat-list-item>
                <mat-icon class="list-icon" matListItemIcon>forest</mat-icon>
                <div class="list-title" matListItem><a routerLink="/habitats" routerLinkActive="active-page"
                        ariaCurrentWhenActive="page">Habitats</a></div>
            </mat-list-item>
            <mat-list-item>
                <mat-icon class="list-icon" matListItemIcon>location_on</mat-icon>
                <div class="list-title" matListItem><a routerLink="/locations" routerLinkActive="active-page"
                        ariaCurrentWhenActive="page">Locations</a></div>
            </mat-list-item>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>